@import './custom.css';
@import './frontend.css';
@import "./components/sidebar.css";
@import "./components/nav.css";
@import "./components/form.css";
@import "./components/buttons.css";
@import "@fortawesome/fontawesome-free/css/all.min.css";
@tailwind base;
@tailwind components;
@tailwind utilities;


